<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssx.mapper.StationMapper">

    <resultMap id="BaseResultMap" type="com.ssx.domain.Station">
            <id property="trainNo" column="train_no" jdbcType="VARCHAR"/>
            <id property="stationNo" column="station_no" jdbcType="VARCHAR"/>
            <result property="stationName" column="station_name" jdbcType="VARCHAR"/>
            <result property="trainNumber" column="train_number" jdbcType="VARCHAR"/>
            <result property="arriveDay" column="arrive_day" jdbcType="INTEGER"/>
            <result property="arriveTime" column="arrive_time" jdbcType="TIME"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="parkingTime" column="parking_time" jdbcType="TIME"/>
            <result property="stationMoney" column="station_money" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        train_no,station_no,station_name,
        train_number,arrive_day,arrive_time,
        start_time,parking_time,station_money
    </sql>
</mapper>
