<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssx.mapper.TrainMapper">

    <resultMap id="BaseResultMap" type="com.ssx.domain.Train">
            <id property="trainNo" column="train_no" jdbcType="VARCHAR"/>
            <result property="trainNumber" column="train_number" jdbcType="VARCHAR"/>
            <result property="trainType" column="train_type" jdbcType="OTHER"/>
            <result property="trainCarriageCount" column="train_carriage_count" jdbcType="INTEGER"/>
            <result property="trainStartStation" column="train_start_station" jdbcType="VARCHAR"/>
            <result property="trainEndStation" column="train_end_station" jdbcType="VARCHAR"/>
            <result property="trainStartTime" column="train_start_time" jdbcType="TIME"/>
            <result property="trainEndTime" column="train_end_time" jdbcType="TIME"/>
            <result property="trainRunningTime" column="train_running_time" jdbcType="TIME"/>
            <result property="trainRunningType" column="train_running_type" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        train_no,train_number,train_type,
        train_carriage_count,train_start_station,train_end_station,
        train_start_time,train_end_time,train_running_time,
        train_running_type
    </sql>
</mapper>
